<html>
	<head>
		<style>
			html {
				background: #dbeeff;
				height: 100%;
			}

			body {
				height: 100%;
				margin: 0;
				font-family: Avenir, Helvetica, Arial, sans-serif;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-align: center;
				color: #2c3e50;
			}

			.container {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.form {
				border-radius: 3em;
				border: solid 2px #2c3e50;
				padding: 3em;
				display: grid;
				grid-template-columns: auto minmax(0, 1fr);
			}

			.password {
				grid-row: 1;
			}

			.confirm {
				grid-row: 2;
			}

			.label {
				grid-column: 1;
				margin: 1em;
			}

			.input {
				grid-column: 2;
				margin: 1em 0;
				width: 20em;
			}

			.ok {
				grid-row: 3;
				grid-column-start: 1;
				grid-column-end: 3;
				margin-top: 2em;
				background: #2c3e50;
				color: #dbeeff;
				border: none;
				padding: 0.75em;
			}
		</style>
	</head>
	<body>
		<h1>
			Welcome to Ponglehub! Please set your password...
		</h1>
		<div class="container">
			<form action="" method="post" class="form">
				<input hidden id="invite" value="{{ .invite }}" >
				
				<label class="password label" for="password">Password: </label>
				<input class="password input" type="password" name="password" id="password" required>
				
				<label class="confirm label" for="confirm">confirm: </label>
				<input class="confirm input" type="password" name="confirm" id="confirm" required>

				<input class="ok" type="submit" value="OK" >
			</form>
		</div>
	</body>
</html>