*.tgz
*.crt
*.key
*.csr
*.helm
*.DS_Store
.envrc
infra/k3s/*
*.log
package-lock.json.*

ssl/
k3s/
dashboards/
bin/

node_modules
build
tilt_modules
chart-cache

**.tmp-earthly-out
.scratch
.terraform
infra/manifests/generated
**.last-checksum
