nav {
    background-color: var(--default-foreground);
    color: var(--default-background);
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    text-align: center;
    font-weight: normal;
    padding: 1em;
    margin: 0;
}

nav a,
nav a:visited {
    text-transform: uppercase;
    color: var(--default-background);
    font-weight: bold;
    text-decoration: none;
}